@import 'core.scss';

.section {
  display: block;
}

@media (min-width: $m) {
  .section {
    display: flex;
    height: 44vw;
    margin: 12vw auto;

    &:first-of-type {
      margin-bottom: -7vw;
      margin-top: 6vw;
    }

    &:last-of-type {
      margin-bottom: 4vw;
    }
  }

  .section[data='tall'] {
    height: 56vw;
    justify-content: space-between;
  }

  .section[data='tallAround'] {
    height: 56vw;
    justify-content: space-around;
  }

  .section[data='tallEvenly'] {
    height: 56vw;
    justify-content: space-evenly;
  }

  .section[data='between'] {
    justify-content: space-between;
  }

  .section[data='evenly'] {
    justify-content: space-evenly;
  }

  .section[data='around'] {
    justify-content: space-around;
  }

  #one {
    flex: 1;
    max-width: 22.5vw;
  }

  #two {
    flex: 1;
    align-self: flex-end;
    margin-right: 4rem;
    max-width: 30vw;
  }

  #three {
    flex: 1;
    align-self: center;
    max-width: 20vw;
  }

  #four {
    flex: 1;
    align-self: flex-start;
    max-width: 20vw;
  }

  #five {
    align-self: flex-end;
    flex: 1;
    margin-right: 4rem;
    max-width: 27.5vw;
  }

  #six {
    align-self: flex-start;
    flex: 1;
    max-width: 30vw;
  }

  #seven {
    align-self: flex-end;
    flex: 1;
    max-width: 20vw;
  }

  #eight {
    align-self: flex-end;
    flex: 1;
    max-width: 45vw;
  }

  #nine {
    align-self: flex-start;
    flex: 1;
    max-width: 27.5vw;
  }

  #ten {
    align-self: flex-end;
    flex: 1;
    margin-left: 6rem;
    max-width: 17.5vw;
  }

  #eleven {
    align-self: flex-end;
    flex: 1;
    max-width: 32.5vw;
  }

  #twelve {
    align-self: flex-start;
    flex: 1;
    max-width: 25vw;
  }

  #thirteen {
    align-self: flex-start;
    flex: 1;
    margin-left: -4rem;
    margin-right: 4rem;
    max-width: 15vw;
  }

  #fourteen {
    align-self: flex-end;
    flex: 1;
    max-width: 32.5vw;
  }

  #fifteen {
    align-self: flex-start;
    flex: 1;
    max-width: 27.5vw;
  }

  #sixteen {
    align-self: center;
    flex: 1;
    margin-left: 4rem;
    max-width: 20vw;
  }

  #seventeen {
    align-self: flex-end;
    flex: 1;
    max-width: 27.5vw;
  }

  #eighteen {
    align-self: flex-start;
    flex: 1;
    max-width: 25vw;
  }

  #nineteen {
    align-self: center;
    flex: 1;
    max-width: 25vw;
  }

  #twenty {
    align-self: flex-end;
    flex: 1;
    max-width: 25vw;
  }

  #twentyone {
    align-self: flex-start;
    flex: 1;
    max-width: 27.5vw;
  }

  #twentytwo {
    align-self: flex-end;
    flex: 1;
    margin-left: 4rem;
    max-width: 27.5vw;
  }

  #twentythree {
    align-self: center;
    flex: 1;
    max-width: 20vw;
  }

  #twentyfour {
    align-self: center;
    flex: 1;
    max-width: 60vw;
  }
}

.case {
  display: block;
  margin-bottom: 2rem;
  position: relative;

  @media (min-width: $m) {
    margin-bottom: 0;
  }

  .titel {
    display: none;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;

    @media (min-width: $m) {
      opacity: 0;
    }
  }

  &:hover .titel {
    opacity: 0;
  }
}
